/* ==========================================================================
   Basics
   ========================================================================== */

   body {
    font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #79a8ae;
    color: rgb(250, 250, 250);
    font-size: 16px;
    line-height: 1.5em;
    overflow: hidden;
  }
  
  h1 {
    color: rgb(252, 252, 252);
    margin: 0 0 12px 0;
    font-size: 24px;
    line-height: 1.5em;
  }
  
  h2 {
    color: rgb(252, 252, 252);
    margin: 0 0 12px 0;
    font-size: 18px;
    line-height: 1.5em;
  }

  p {
    margin: 0 0 10x 0;
  }
  
  a {
    color: rgb(255, 119, 0);
    text-decoration: none;
  }
  a:link {
    color: rgb(255, 119, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 119, 0);
    background-color: transparent;
    text-decoration: none;
  }
 
  a:hover {
    border-bottom-color: #888;
  }
  
  body,
  .overlay {
    -webkit-perspective: 1000;
    -webkit-perspective-origin-y: 25%;
  }
  
  .body--ready {
    /* Ideas
    background: -webkit-linear-gradient(top, #e2b986 -10%, #241c35 140%);
    background: -webkit-linear-gradient(top, #c97369 -40%, #241c35 130%);
    background: -webkit-linear-gradient(top, #fac4c4 -10%, #606386 140%);
    background: -webkit-linear-gradient(top, #519ab0 0%, #414A6D 110%);
    background: -webkit-linear-gradient(top, rgb(129, 0, 170) 0%, rgb(43, 4, 114) 110%);
    background: -webkit-linear-gradient(top, rgb(163, 235, 189) 0%, rgb(16, 93, 145) 110%);
    background: -webkit-linear-gradient(top, rgb(165, 103, 189) 0%, rgb(75, 233, 214) 120%);
    */
  
    background: -webkit-linear-gradient(top, rgba(1,1,2,1) 69%, rgb(1, 1, 59) 100%);
    background: -moz-linear-gradient(top, rgba(1,1,2,1) 69%, rgb(1, 1, 59) 100%);
    background: -o-linear-gradient(top,  rgba(1,1,2,1) 69%, rgb(1, 1, 59) 100%);
    background: -ms-linear-gradient( rgba(1,1,2,1) 69%, rgb(1, 1, 59) 100%);
    background: linear-gradient(top,  rgba(1,1,2,1) 69%, rgb(1, 1, 59) 100%);
  }
  
  .body--ready .overlay {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: -moz-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: -ms-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: -o-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  
  .body--ready .ui,
  .body--ready .help {
    display: block;
  }
  
  
  /* ==========================================================================
     UI
     ========================================================================== */
  
  .ui {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 300px;
    margin-left: -150px;
    
  }
  
  .ui-input {
    width: 100%;
    height: 50px;
    background: none;
    font-size: 32px;
    font-weight: bold;
    color: rgb(254, 120, 3);
    text-align: center;
    border: 4px solid rgb(254, 120, 3);
    z-index:101; 
  }
  
  .ui-input:focus {
    outline: none;
    border: 4px solid rgb(254, 120, 3);
  }
  
  .ui-return {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 3px 2px 0 2px;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .ui--enter .ui-return {
    display: block;
  }
  
  .ui--wide {
    width: 76%;
    margin-left: 12%;
    left: 0;
    border: 4px solid rgb(254, 120, 3);
  }
  
  .ui--wide .ui-return {
    right: -20px;
  }
  
  .help {
    display: inline;
    position: absolute;
    top: 40px;
    right: 40px;
    width: auto;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: #79a8ae;
    opacity: .9;
  
    -webkit-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  
  .help:hover {
    opacity: 1;
  }

  .social {
    display:inline;
    position: absolute;
    top: 40px;
    left: 40px;
    width: auto;
    height: 40px;
    cursor: pointer;
    color: #79a8ae;
    opacity: .9;
    border: none;
  
    -webkit-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  
  .social:hover {
    opacity: 1;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 490px;
    margin: -260px 0 0 -275px;
    opacity: 0;
  
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  
  .overlay--visible {
    opacity: 1;
  
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }
  
  .ui-share,
  .ui-details {
    opacity: .9;
    z-index: 2;
    background: -webkit-linear-gradient(top,  rgb(1, 1, 59) 10%, rgba(1,1,2,1) 69%);
    background: -moz-linear-gradient(top,  rgb(1, 1, 59) 10%, rgba(1,1,2,1) 69%);
    background: -o-linear-gradient(top,  rgb(1, 1, 59) 10%, rgba(1,1,2,1) 69%);
    background: -ms-linear-gradient(  rgb(1, 1, 59) 10%, rgba(1,1,2,1) 69%);
    background: linear-gradient(top,   rgb(1, 1, 59) 10%, rgba(1,1,2,1) 69%);
  }
  
  .ui-details-content,
  .ui-share-content {
    padding: 100px 50px;
  }
  
  .commands {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
  }
  
  .commands-item {
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    background: #fff;
    margin-top: 1px;
    color: #333;
    opacity: .9;
  
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: -ms-transform 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: -o-transform 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: transform 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1),
                        opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  
  .commands-item--gap {
    margin-top: 9px;
  }
  
  .commands-item:hover {
    opacity: 1;
  }
  
  .commands-item:hover .commands-item-action {
    background: #333;
  }
  
  .commands-item a {
    display: inline-block;
  }
  
  .commands-item-mode {
    display: inline-block;
    margin-left: 3px;
    font-style: italic;
    color: #ccc;
  }
  
  .commands-item-title {
    display: inline-block;
    width: 150px;
  }
  
  .commands-item-info {
    display: inline-block;
    width: 300px;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    color: #aaa;
  }
  
  .commands-item-action {
    display: inline-block;
    float: right;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background: #90c9d1;
    padding: 5px 10px 4px 10px;
    border-radius: 3px;
  }
  
  .commands-item:first-child {
    margin-top: 0;
  }
  
  .twitter-share {
    position: absolute;
    top: 4px;
    right: 20px;
  }
  
  
  /* ==========================================================================
     Tabs
     ========================================================================== */
  
  .tabs-labels {
    margin-bottom: 9px;
  }
  
  .tabs-label {
    display: inline-block;
    background: orange;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    opacity: .5;
    cursor: pointer;
    margin-right: 2px;
  
    -webkit-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  
  .tabs-label:hover {
    opacity: .9;
  }
  
  .tabs-label--active {
    opacity: .9;
  }
  
  .tabs-panel {
    display: none;
  }
  
  .tabs-panel--active {
    display: block;
  }
  
  .tab-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  /* ==========================================================================
     Mobiles/tablets
  ========================================================================== */
  /* ==========================================================================
  .touch .ui-input {
    display: none;
    border: 2px solid rgb(254, 120, 3);
  }
     ========================================================================== */


  @media screen and (max-width: 600px) {
    .ui-input {
      color: rgb(254, 120, 3); 
      border: 2px solid rgb(254, 120, 3);
    }
  
    .ui-input:focus {
      border: 2px solid rgb(254, 120, 3);;
    }
  
    body {
      font-size: 10px;
      line-height: 1.5em;
    }
    
    h1 {
      font-size: 16px;
      line-height: 1.5em;
    }
    
    h2 {
      font-size: 14px;
      line-height: 1.5em;
    }
    .overlay {
      position: absolute;
      top: 50%;
      left: 70%;
      width: relative;
      height: relative;
      opacity: 0;
    
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
    
    .overlay--visible {
      opacity: 1;
      -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0);
      -ms-transform: rotateY(0);
      -o-transform: rotateY(0);
      transform: rotateY(0);
    }
  }